# --- Web 서버 및 API ---
fastapi==0.115.9
uvicorn==0.34.3
starlette==0.45.3

# --- 데이터 처리 및 구조화 ---
pydantic==2.11.5
pydantic-core==2.33.2
python-dotenv==1.1.0
python-multipart==0.0.20
pyyaml==6.0.2
openpyxl
google-cloud-speech
google-cloud-texttospeech

# --- 인증 및 암호화 ---
bcrypt==4.3.0
python-dateutil==2.9.0.post0

# --- DB 관련 ---
pymysql==1.1.1
pypika==0.48.9
chromadb

# --- ML / NLP ---
sentence-transformers==4.1.0
transformers==4.52.4
torch==2.7.0
scikit-learn==1.6.1
scipy==1.15.3
numpy==2.2.6
tokenizers==0.21.1
safetensors==0.5.3
joblib==1.5.1
pandas
openai==1.12.0

# --- HTTP 요청 ---
httpx==0.27.2
requests==2.32.3

# --- Logging / Observability ---
coloredlogs==15.0.1
humanfriendly==10.0
backoff==2.2.1

# --- FastAPI 모니터링용 ---
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-sdk==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0

# --- 필수 util ---
tqdm==4.67.1
orjson==3.10.18
pygame==2.6.1
